:root {
  --white-text-color: #fff;
  --bg-or-text-color: #3a3a3a;
  --azure-text-color: #5eeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 70px;
  background-color: var(--bg-or-text-color);
}

.header-menu {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  background-color: inherit;
}

.menu-navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.menu-list > li {
  padding: 0 4px;
}

.menu-list > li a {
  text-decoration: none;
  color: var(--white-text-color);;
  font-size: 20px;
  transition: 0.5s;
}

.menu-list > li a:hover {
  color: var(--azure-text-color);
}

.burger-menu {
  width: 350px;
  height: 500px;
  background: burlywood;
  position: fixed;
  padding-top: 90px;
  top: 0;
  left: -120%;
  z-index: 5;
  display: none;
  justify-content: center;
  transition: left 0.6s ease 0s;
}

.burger-menu.active {
  left: 0;
}

.menu-item {
  list-style: none;
}

.menu-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  color: var(--white-text-color);
  padding-bottom: 17px;
}

.main {
  background-color: #eee;
  min-height: 100vh;
}

.contact-block-container {
  background-color: #5e5959;
  background-image: url('../assets/1618630191_23-phonoteka_org-p-veb-fon-23.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.shadow-block {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  background-color: #5e5959;
  opacity: 0.5;
  top: 0;
  z-index: 1;
}

.contact-block {
  margin: 0 auto;
  min-height: 300px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid lightgray;
  position: relative;
  z-index: 2;
}

.photo img {
  width: 100%;
  border-radius: 50%;
}

.info-block {
  color: var(--white-text-color);
}

.info-block,
.photo {
  margin: 10px;
}

.contact-info-list {
  display: flex;
  flex-direction: column;
}

.contact-info-list span {
  margin-bottom: 5px;
}

.icon-list {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.linkedin {
  background-image: url('../assets/linkedin.svg');
  color: #3a3a3a;
}

.githab {
  background-image: url('../assets/github.svg');
}

.icon {
  display: block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: 0.5s;
}

.linkedin:hover,
.githab:hover {
  filter: invert(0%) sepia(6%) saturate(24%) hue-rotate(37deg) brightness(75%) contrast(100%)
}

.point {
  margin-left: 5px;
}

.block-about-me {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short-description {
  min-height: 90px;
  max-width: 900px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(114, 113, 113, 0.651);
  border-radius: 4px;
  color: var(--bg-or-text-color);
  font-weight: 500;
  background-color: var(--white-text-color);
}

.education-block {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.block-title {
  color: var(--bg-or-text-color);
  text-transform: uppercase;
}

.cards-block {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--bg-or-text-color);
  margin: 10px;
  border-radius: 4px;
  padding: 15px;
  max-width: 350px;
}

.card-title {
  color: var(--azure-text-color);
  margin-bottom: 10px;
}

.block-contant {
  color: var(--white-text-color);
  letter-spacing: 1px;
  list-style: none;
}